table.queuetable tr th {color:#555; background-color:#000;}
table.queuetable tr td {color:#000; }

table.jobtable tr th {color:#555; background-color:#000;}
table.jobtable tr td {color:#000; }
table.sq
{
    background-color:#D6FFD6;
    border-collapse:collapse;
    font-family:Arial, Helvetica, sans-serif;
    padding:0px;
    box-shadow:5px 5px 2px 0px #BDBDBD;
    border-radius:11px;
}
 
th.sqh
{
    color:#FFFFFF;
    background:#31B81F;
    font-size:20px;
    font-weight:bold;
    padding:4px 8px;
    text-align:center;
    vertical-align:top;
}
 
tr.sqr
{
    color:#000000;
    font-size:14px;
    font-weight:normal;
}
 
tr.sqr:hover td
{
    background:#FFD1D1;
}
 
tr.sqr:nth-child(odd) td
{
background:#CEFFCC;
}
 
tr.sqr:nth-child(odd):hover td
{
    background:#FFD1D1;
}
 
td.sqc
{
    background:#FFFFFF;
    padding:4px 8px;
    text-align:left;
    vertical-align:top;
}
 
th.sqh:first-child
{
    border-top-left-radius:11px;
}
 
th.sqh:last-child
{
    border-top-right-radius:11px;
}
 
tr.sqr:last-child td.sqc:first-child
{
    border-bottom-left-radius:11px;
}
 
tr.sqr:last-child td.sqc:last-child
{
    border-bottom-right-radius:11px;
}

tr.sqra td
{
	background:#FF8888;
	font-weight:normal;
}

tr.sqri td
{
	background:#9999FF;
   	font-weight:normal;
}



