<html>
<head>
<title>Job status of {%$jobid%}</title></head>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/js/webface.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	launchcheck('{%$status%}','{%$jobid%}','{%$cgiprefix%}{%$cgiexec%}',{%$waittime||20%});
});
</script>
<body>
<!-- jobid: {%$jobid%} status: {%$status%} -->
<H1>Your job {%$jobid%} is <span name="status">{%$status%}</span></H1>
<br>
<div id="progress"></div>
<noscript>This page should reload automatically. Otherwise <a href="{%$cgiprefix%}/{%$cgiexec%}?jobid={%$jobid%}">click here</a>
</noscript>
</body>
</html>
