<html><head><title>{%$jobid%} banned</title></head>
<body>
<!-- jobid: {%$jobid%} status: {%$status%} -->
<h1>Your site {%$http->{host}%} ({%$quota->{source}%}) has been banned</h1>
<p>This is usually due to abusive behaviour from your site, or someone using the same proxy server as you, or if we believe your site is a webcrawler. </p>
<p>Please contact <b>{%$manager%}</b> if you feel this is in error.</p>
</body>
</html>

