<html><head><title>{%$jobid%} killed</title></head>
<body>
<!-- jobid: {%$jobid%} status: {%$status%} -->
<H1>Your job {%$jobid%} seem to have been killed unexpectedly</H1>
<P>This may be due to server downtime or system problems. Please try again.</P>
</body>
</html>
