<html><head><title>Service disabled</title></head>
<body>
<!-- jobid: {%$jobid%} status: {%$status%} -->
<h1>Service disabled</h1>
<p>Due to technical difficulties, this service has been disabled for online
analysis. For some services, you can contact the authors for a copy of the
analysis software.</p> 
<p>Please contact <b>{%$manager%}</b> for assistance.</p>
</body>
</html>
