<html><head><title>{%$jobid%} killed</title></head>
<body>
<H1>Server Error</H1>
<P>Our apologies, you have encountered an internal server error. It responded with this:</P>
<PRE>
{%$message%}
</PRE>
</body>
</html>
