<html><head><title>Webface job status page</title></head>
<body>

<H1>Job contents for {%$jobid%}</H1>
<h2>Queue entry</h2>
<table>
<tr><th>id</th><th>jobid</th><th>queue</th><th>service</th><th>source</th><th>email</th><th>status</th><th>runtime</th><th>pid</th><th>stamp</th><th>expire</th></tr>
<tr><td>{%$id%}</td><td>{%$jobid%}</td><td>{%$queue%}</td><td>{%$service%}</td><td>{%$source%}</td><td>{%$email%}</td><td>{%$status%}</td><td>{%$runtime%}</td><td>{%$pid%}</td><td>{%$stamp%}</td><td>{%$expire%}</td></tr>
</table>

<h2>Usage</h2>
<pre>
{%$rusage%}
</pre>

<h2>Command</h2>
<pre>
{%$arguments%}
</pre>

<h2>Files in {%$dir%}</h2>
<pre>
{%$files%}
</pre>

</body>
</html>
