<html><head><title>{%$jobid%} killed</title></head>
<body>
<!-- jobid: {%$jobid%} status: {%$status%} -->
<H1>Your job {%$jobid%} have been killed</H1>
<P>This may be due to excessive time consumption of {%$runtime%} seconds. The time limit for this service is {%$maxruntime%} seconds.</P>
</body>
</html>
