<html>
<head>
<title>Job status of {%$jobid%}</span></title></head>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/js/webface.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	launchcheck('{%$status%}','{%$jobid%}','{%$cgiprefix%}{%$cgiexec%}',{%$waittime||20%});
});
</script>
</head>
<body>
<!-- jobid: {%$jobid%} status: {%$status%} -->
<H1>Your job {%$jobid%} is <span name="status">{%$status%}</span></H1>
<br>
{% (defined $email)?"The system will email $email when the job has finished":"" %}
<form>
	Send me email when job finishes
	<input type="hidden" name="jobid" value="{%$jobid%}">
	<input type="text" name="email" value="">
	<input type="hidden" name="wait" value="{%$waittime%}">
	<input type="submit" name="submit" value="Send email">
</form>
<div id="progress"></div>
<noscript>This page should reload automatically. Otherwise <a href="{%$cgiprefix%}/{%$cgiexec%}?jobid={%$jobid%}">click here</a>
</noscript>
</body>
</html>
