<html><head><title>{%$jobid%} rejected</title></head>
<body>
<!-- jobid: {%$jobid%} status: {%$status%} -->
<h1>Your submission was rejected</h1>
Submitter : {%$http->{host}%} ({%$source%})<br>
Quota     : {%$consumption%} / {%$limit%}<br>
<p>This is usually because non-academic sites have a limited submissions per day.</p> 
<p>Please contact <b>{%$manager%}</b> if you feel this is in error.</p>
</body>
</html>
