<html><head><title>Illegal input</title></head>
<body>
<!-- jobid: {%$jobid%} status: {%$status%} -->
<H1>Job rejected due to illegal input.</H1>
<p>Problematic input:</p>
{%!inject $content%}
</body>
</html>
