<html>
<head>
<title>Webface status page</title>
<link rel="stylesheet" type="text/css" href="/css/webface.css">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawUserChart);
$(function() {
    $( "#tabs" ).tabs();
  });
//google.setOnLoadCallback(drawRateChart);
function drawUserChart() {
	  var data = google.visualization.arrayToDataTable([
	    {%!inject $userarray%}
	  ]);

	  var options = {
	    title: 'Top user breakdown (seconds)',
	    is3D: true,
	    chartArea:{width:"70%"}
	  };

	  var chart = new google.visualization.PieChart(document.getElementById('userpiechart'));
	  chart.draw(data, options);
	}
	
function drawRateChart() {
	  var data = google.visualizationDataTable();
	  data.addColumn('datetime', 'Time');
	  data.addColumn('number', 'Rate');
	  //data.addRows([
	  //  	{%!inject $ratearray%}
	  //]);
		// [ new Date(1000*$stamp), $rate ],
	  var options = {
	    title: 'Processing time'
	  };

	  var chart = new google.visualization.LineChart(document.getElementById('ratechart'));
	  chart.draw(data, options);
	}
</script>
</head>
<body>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Summary</a></li>
    <li><a href="#tabs-2">Queues</a></li>
    <li><a href="#tabs-3">Services</a></li>
    <li><a href="#tabs-4">Users</a></li>
  </ul>
  <div id="tabs-1">
  	<table>
  		<tr>
  			<td rowspan="2" style="vertical-align: top">&nbsp;&nbsp;
  				{%!inject $config%}
  			</td>
  			<td width=80% style="vertical-align: top">&nbsp;&nbsp;
  				{%!inject $summary%}
  			</td>
  		</tr>
  		<tr>
			<td>
				<div id="userpiechart" style="width: 600px; height: 300px;"></div>
			</td>
  		</tr>
  	</table>
  </div>
  <div id="tabs-2">
	{%!inject $queues%}
  </div>
  <div id="tabs-3">
	{%!inject $services%}
  </div>
  <div id="tabs-4">
    <table>
    	<tr>
    		<td style="vertical-align:top">{%!inject $blockedusers%}</td>
    		<td style="vertical-align:top">{%!inject $unlimitedusers%}</td>
    	</tr>
    </table>
  </div>
</div>

</body>
</html>
