<html>
<head>
<title>Webface status page</title>
<link rel="stylesheet" type="text/css" href="/css/webface.css">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawUserChart);
//google.setOnLoadCallback(drawRateChart);
function drawUserChart() {
	  var data = google.visualization.arrayToDataTable([
	    {%!inject $userarray%}
	  ]);

	  var options = {
	    title: 'Top user breakdown (seconds)',
	    is3D: true,
	    chartArea:{width:"70%"}
	  };

	  var chart = new google.visualization.PieChart(document.getElementById('userpiechart'));
	  chart.draw(data, options);
	}
	
function drawRateChart() {
	  var data = google.visualizationDataTable();
	  data.addColumn('datetime', 'Time');
	  data.addColumn('number', 'Rate');
	  //data.addRows([
	  //  	{%!inject $ratearray%}
	  //]);
		// [ new Date(1000*$stamp), $rate ],
	  var options = {
	    title: 'Processing time'
	  };

	  var chart = new google.visualization.LineChart(document.getElementById('ratechart'));
	  chart.draw(data, options);
	}
</script>
</head>
<body>

	<H1>Queue Summary</H1>
	{%!inject $tables%}

</body>
</html>
