<html>
<head>
<title>Webface source status page</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/webface.css">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>
	<H1>Source:</H1>
	<table>
		<tr><td><li>Who is</li></td><td><a href="{%$whois%}">{%$source%}</a></td></tr>
		<tr><td><li>Ban</li></td><td><a href="?status=source&key={%$key%}&source={%$source%}&ban={%$source%}">{%$source%}</a></td></tr>
		<tr><td><li>Ban</li></td><td><a href="?status=source&key={%$key%}&source={%$source%}&ban={%$partsource%}">{%$partsource%}</a></a></td></tr>
		<tr><td><li>UnBan</li></td><td><a href="?status=source&key={%$key%}&source={%$source%}&unban={%$source%}">{%$source%}</a></a></td></tr>
		<tr><td><li>UnBan</li></td><td><a href="?status=source&key={%$key%}&source={%$source%}&unban={%$partsource%}">{%$partsource%}</a></td></tr>
	</table>

	<H1>Quota:</H1>
	<pre>
	{%$quota%}
	</pre>
	<H1>Queue Summary</H1>
	{%!inject $tables%}

</body>
</html>
